/*
	Created by Ícaro Freire on January 12th, 2022.
	São Paulo, Brazil.
	https://github.com/ivfreire/
*/

* {
	margin: 0;
	padding: 0;
}

div.column {
	width: 70%;
	padding: 0 15%;	
}

body {
	background-color: #343434;
	color:white;
}

footer div.footer { text-align: center; }